/*! Place your custom styles here */

p + a:not(.btn) {
  font-size: 1em;
  line-height: 2.16666667em;
}

.btn--dribbble,
.btn--dribbble:visited {
  background: #D11469;
  border-color: #D11469;
}

.btn--dribbble .btn__text,
.btn--dribbble:visited .btn__text {
  color: #fff;
}

.btn--dribbble .btn__text i,
.btn--dribbble:visited .btn__text i {
  color: #fff;
}
.btn--dribbble:hover {
  background: #DE4489;
  border: 0;
}

.lead_2 {
  font-size: 1em;
  line-height: 1.68421053em;
  color: #B8B8B8;
}

.dropdown_white a{
  color:white;
  text-decoration: none;
  font-weight: 700;
}

.bg--dark {
  background: #0a0a0a;
}

ul, ol {
    list-style: none;
    line-height: 2.5em;
}

.feature-large-black {
  background-color: #1b1d26;
}

.feature:not(.boxed) {
    margin-bottom: 0px;
}

label {
    font-size: 1.2em;
}

[data-overlay]:before {
  position: absolute;
  content: '';
  background: #460A87;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.btn--primary,
.btn--primary:visited {
  background: #DA43E1;
  border-color: #DA43E1;
}
.btn--primary .btn__text,
.btn--primary:visited .btn__text {
  color: #fff;
}
.btn--primary .btn__text i,
.btn--primary:visited .btn__text i {
  color: #fff;
}
.btn--primary:hover {
  background: #DA43E1;
}
.btn--primary:active {
  background: #DA43E1;
}
.btn--primary-1,
.btn--primary-1:visited {
  background: #DA43E1;
  border-color: #DA43E1;
}

.btn .btn__text,
.btn i {
  color: #252525;
  border-color: #252525;
  font-weight: 700;
  font-size: 1.1em;
}

/**! TEXTO **/

body {
  font-size: 1em;
  line-height: 1.85714286em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  color: #666666;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  color: #252525;
  font-weight: 300;
  font-variant-ligatures: common-ligatures;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
.h1 {
  font-size: 3.4em;
  line-height: 1.31818182em;
}
.heavy
{
  
  font-weight: 500;
}
h2,
.h2 {
  font-size: 2.35714286em;
  line-height: 1.36363636em;
}
h3,
.h3 {
  font-size: 1.78571429em;
  line-height: 1.5em;
  font-weight: 500;
}
h4,
.h4 {
  font-size: 1.35714286em;
  line-height: 1.36842105em;
}
h5,
.h5 {
  font-size: 1em;
  line-height: 1.85714286em;
}
h6,
.h6 {
  font-size: 0.85714286em;
  line-height: 2.16666667em;
}
.lead {
  font-size: 1.35714286em;
  line-height: 1.68421053em;
}


**! 10. Menus **/
.menu-horizontal > li:not(:hover) > a,
.menu-horizontal > li:not(:hover) > span,
.menu-horizontal > li:not(:hover) > .modal-instance > .modal-trigger {
  opacity: .5;
}
.menu-horizontal > li > a,
.menu-horizontal > li > span,
.menu-horizontal > li > .modal-instance > .modal-trigger {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  color: #333;
}
.menu-horizontal > li > a:hover,
.menu-horizontal > li > span:hover,
.menu-horizontal > li > .modal-instance > .modal-trigger:hover {
  color: #333;
}
.bg--dark .menu-horizontal > li > a,
.bg--dark .menu-horizontal > li > span {
  color: #333;
}

@media all and (min-width: 990px) {
  .menu-horizontal {
    display: inline-block;
    color: white;

  }
  .menu-horizontal > li {
    display: inline-block;
  }
  .menu-horizontal > li:not(:last-child) {
    margin-right: 1.85714286em;
  }
  .menu-vertical {
    display: inline-block;
  }
  .menu-vertical li {
    white-space: nowrap;
  }
  .menu-vertical .dropdown__container {
    top: 0;
  }
  .menu-vertical .dropdown__container .dropdown__content:not([class*='bg-']) {
    background: #ffffff;
  }
  .menu-vertical .dropdown__container .dropdown__content {
    transform: translateX(75%);
  }
  .menu-horizontal > li > a,
.menu-horizontal > li > span,
.menu-horizontal > li > .modal-instance > .modal-trigger {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  color: #FFF;
}
.menu-horizontal > li > a:hover,
.menu-horizontal > li > span:hover,
.menu-horizontal > li > .modal-instance > .modal-trigger:hover {
  color: #FFF;
}
.bg--dark .menu-horizontal > li > a,
.bg--dark .menu-horizontal > li > span {
  color: #FFF;
}
}

